<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Administració Punt Lila</title>
    <link rel="stylesheet" type="text/css" href="../public/styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="public/res/images/Logo_projecte_temporal_transparent.png" type="image/gif" sizes="16x16">
    <script src="../public/scripts/mobile-menu.js"></script>
</head>

<body>
    <header>
        <nav>
            <a href="home.html"><img src="../public/res/images/Logo_projecte_temporal_blanc.png" /></a>
            <div class="desktop-menu">
                <ul>
                    <li><i class="fa fa-cog" style="font-size:26px;"></i></li>
                    <li><i class="fa fa-power-off" style="font-size:26px;"></i></li>
                </ul>
            </div>
            <div class="mobile-menu">
                <i class="fa fa-bars" onclick="showMenu()" id="menuButton"></i>
            </div>
        </nav>
        <div id="myDropdown" class="dropdown-content">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Preferències</a></li>
                <li><a href="">Tancar sessió</a></li>
            </ul>
        </div>
    </header>

    <main>
        <h1>Tauler d'administració</h1>
        <hr>
        <div class="container">
            <div class="content">
                <h2>Ubicació de la caravana</h2>
                <div class="secondary-content">
                    <span class="button-description">Transmetre ubicació de la caravana</span>
                    <div class="flipswitch">
                        <input type="checkbox" value="0" id="fs" class="flipswitch-cb" name="flipswitch">
                        <label for="fs" class="flipswitch-label">
                            <div class="flipswitch-inner"></div>
                            <div class="flipswitch-switch"></div>
                        </label>
                    </div>
                </div>


            </div>
            <div id="map-container"></div>
            <div class="content">
                <h2>Llista de telèfons</h2>
                <div class="button-bar">
                    <i class="fa fa-plus-circle" style="font-size:26px;"></i>
                </div>
                <table>
                    <tr>
                        <th>Número</th>
                        <th>Descripció</th>
                        <th>Accions</th>
                    </tr>
                    <tr>
                        <td>111111111</td>
                        <td>Exemple</td>
                        <td>
                            <i class="fa fa-edit" style="font-size:26px;"></i>
                            <i class="fa fa-minus-circle" style="font-size:26px;"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>111111111</td>
                        <td>Exemple</td>
                        <td>
                            <i class="fa fa-edit" style="font-size:26px;"></i>
                            <i class="fa fa-minus-circle" style="font-size:26px;"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>111111111</td>
                        <td>Exemple</td>
                        <td>
                            <i class="fa fa-edit" style="font-size:26px;"></i>
                            <i class="fa fa-minus-circle" style="font-size:26px;"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>111111111</td>
                        <td>Exemple</td>
                        <td>
                            <i class="fa fa-edit" style="font-size:26px;"></i>
                            <i class="fa fa-minus-circle" style="font-size:26px;"></i>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="content">
                <h2>Llista d'administradors</h2>
                <div class="button-bar">
                    <i class="fa fa-plus-circle" style="font-size:26px;"></i>
                </div>
                <table>
                    <tr>
                        <th>Nom d'usuari</th>
                        <th>Permisos</th>
                        <th>Accions</th>
                    </tr>
                    <tr>
                        <td>anpere</td>
                        <td>Admin</td>
                        <td>
                            <i class="fa fa-edit" style="font-size:26px;"></i>
                            <i class="fa fa-minus-circle" style="font-size:26px;"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>caeslop</td>
                        <td>-</td>
                        <td>
                            <i class="fa fa-edit" style="font-size:26px;"></i>
                            <i class="fa fa-minus-circle" style="font-size:26px;"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>anpere</td>
                        <td>Admin</td>
                        <td>
                            <i class="fa fa-edit" style="font-size:26px;"></i>
                            <i class="fa fa-minus-circle" style="font-size:26px;"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>caeslop</td>
                        <td>-</td>
                        <td>
                            <i class="fa fa-edit" style="font-size:26px;"></i>
                            <i class="fa fa-minus-circle" style="font-size:26px;"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>anpere</td>
                        <td>Admin</td>
                        <td>
                            <i class="fa fa-edit" style="font-size:26px;"></i>
                            <i class="fa fa-minus-circle" style="font-size:26px;"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>caeslop</td>
                        <td>-</td>
                        <td>
                            <i class="fa fa-edit" style="font-size:26px;"></i>
                            <i class="fa fa-minus-circle" style="font-size:26px;"></i>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </main>
    <footer>
        <p>APPunt Lila IES Serpis</p>
    </footer>
</body>

</html>
